@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar .logoPrincipal {
  width: 30%;
  transition: all 0.5s; }
  .navbar .logoPrincipal:hover {
    transform: scale(1.05); }

.navbar .data ul {
  font-family: 'Open Sans', sans-serif;
  color: #053b69;
  font-size: 16px;
  margin: 5px;
  padding: 2px; }
  .navbar .data ul li:hover {
    background-color: #cbcf0e;
    color: black;
    border-radius: 10%; }

.navbar .d-flex {
  font-family: 'Open Sans', sans-serif; }

.navbar .btnstyle {
  --color: #cbcf0e;
  font-family: inherit;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color); }

.navbar .btnstyle:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%; }

.navbar .btnstyle:hover {
  color: #fff; }

.navbar .btnstyle:before {
  top: 100%;
  left: 100%;
  transition: all .7s; }

.navbar .btnstyle:hover:before {
  top: -30px;
  left: -30px; }

.navbar .btnstyle:active:before {
  background: #3a0ca3;
  transition: background 0s; }

body {
  background-image: url("../media/portada.jpeg");
  margin-right: 2rem;
  margin-left: 2rem;
  animation-name: fondo;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition-timing-function: linear; }

@keyframes fondo {
  0% {
    background-size: 100%; }
  15% {
    background-size: 100.5%; }
  30% {
    background-size: 101%; }
  45% {
    background-size: 101.5%; }
  60% {
    background-size: 102.5%; }
  75% {
    background-size: 101.5%; }
  90% {
    background-size: 101%; }
  95% {
    background-size: 100.5%; }
  100% {
    background-size: 100%; } }
  body .row .ultimasNoticias {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem; }
    body .row .ultimasNoticias .titulo_principal {
      text-align: center;
      color: beige;
      text-decoration: underline;
      font-family: 'Poppins', sans-serif;
      font-size: 3rem; }
  body .row .fotoUltimasNoticias {
    opacity: 0.8;
    border: 1px double goldenrod;
    transition: all 0.5s; }
    body .row .fotoUltimasNoticias:hover {
      opacity: 1;
      border: 1px solid yellow;
      transform: scale(1.03);
      border-radius: 10px; }
  body .row .fotoNoticiaDeLaSemana {
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    opacity: 0.8;
    border: 1px double goldenrod;
    transition: all 0.5s; }
    body .row .fotoNoticiaDeLaSemana:hover {
      opacity: 1;
      border: 1px solid yellow;
      transform: scale(1.03);
      border-radius: 10px; }
  body .row h5 {
    font-family: "Poppins", sans-serif;
    color: yellow;
    background-color: #353333a4; }
  body .row .noticiasDeLaSemana {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border: 1px double goldenrod;
    display: flex;
    flex-direction: column;
    overflow: scroll; }
    body .row .noticiasDeLaSemana .titulo_secundario {
      text-align: center;
      color: beige;
      text-decoration: underline;
      font-family: 'Poppins', sans-serif;
      font-size: 2rem; }
    body .row .noticiasDeLaSemana .bg-text {
      background-color: rgba(0, 0, 0, 0.541); }
  body .row .noticiasVarias {
    padding: 1rem;
    margin: 0.5rem;
    background-color: #353333;
    border: 5px;
    border-color: yellow;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start; }
    body .row .noticiasVarias .videoSecundario {
      width: 15%;
      height: 10rem;
      opacity: 0.5;
      border: 1px double goldenrod; }
      body .row .noticiasVarias .videoSecundario:hover {
        opacity: 1;
        border: 1px solid yellow; }
    body .row .noticiasVarias .audio {
      width: 10%;
      order: -1; }
  body .row .ps-x {
    margin-left: 24rem; }
  body .row p {
    font-family: "Poppins", sans-serif;
    color: yellow;
    background-color: #353333a4; }
  body tit {
    font-family: "Poppins", sans-serif;
    color: #80800c;
    font-size: 3rem; }
  body h3 {
    font-family: "Poppins", sans-serif;
    color: #80800c;
    font-size: 2rem; }
  body #notastv .titulares {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 80px; }
  body .pagination {
    margin-top: 30px;
    margin-bottom: 40px; }
  body .pagination ul {
    text-align: center;
    width: 100%; }
  body .pagination ul li {
    display: inline;
    margin: 0px 5px; }
  body .pagination ul li a {
    width: 44px;
    height: 44px;
    border: 1px solid #2a2a2a;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a; }
  body .pagination ul li a:hover,
  body .pagination ul li.active a {
    background-color: #2a2a2a;
    color: #fff; }
  body .video-responsive {
    overflow: hidden;
    padding-bottom: 200px;
    position: relative;
    height: 0; }
  body .video-responsive iframe {
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  body .txt2 {
    color: rgba(0, 0, 0, 0);
    text-shadow: #fff 0 0 60px;
    transition: text-shadow 2s cubic-bezier(0, 1, 0, 1); }
  body h1:hover .txt2 {
    text-shadow: #fff 0 0 5px;
    transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1); }
  body .text1 {
    margin: 0 10px;
    color: rgba(0, 0, 0, 0);
    text-shadow: yellow 0 0 5px;
    transition: text-shadow 1s cubic-bezier(0, 1, 0, 1); }
  body h1:hover .text1 {
    text-shadow: yellow 0 0 100px;
    transition: text-shadow 2s cubic-bezier(0, 0.75, 0, 1); }

.publicidad {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #5a5a5a;
  border: 2px;
  border-color: yellow;
  border-radius: 10px;
  border: black double 5px;
  border-top: 5px black double;
  border-bottom: 5px black double; }
  .publicidad .imagenPublicidad {
    width: 90%;
    height: 13rem;
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 10s; }

.footer {
  font-family: 'Open Sans', sans-serif;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15); }
  .footer .bi-facebook {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: wheat; }
    .footer .bi-facebook:hover {
      color: #4040f8; }
  .footer .bi-instagram {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: wheat; }
    .footer .bi-instagram:hover {
      color: blueviolet; }
  .footer .bi-whatsapp {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: wheat; }
    .footer .bi-whatsapp:hover {
      color: green; }
  .footer .subir {
    list-style: none; }
  .footer .subir a {
    text-align: left;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    margin: 5px;
    padding: 2px; }
    .footer .subir a:hover {
      color: black;
      background-color: grey;
      border-radius: 20%; }
  .footer .pf {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: transparent; }

@keyframes animation {
  0% {
    width: 15%;
    height: 13rem;
    opacity: 0.4; }
  25% {
    width: 30%;
    height: 13rem;
    opacity: 0.5; }
  37% {
    width: 45%;
    height: 13rem;
    opacity: 0.6; }
  50% {
    width: 50%;
    height: 13rem;
    opacity: 0.7; }
  63% {
    width: 60%;
    height: 13rem;
    opacity: 0.8; }
  75% {
    width: 70%;
    height: 13rem;
    opacity: 0.9; }
  88% {
    width: 80%;
    height: 13rem;
    opacity: 1; }
  100% {
    width: 90%;
    height: 13rem;
    opacity: 1; } }

@keyframes animatio2 {
  0% {
    width: 5%;
    height: 8rem;
    opacity: 0.4; }
  25% {
    width: 10%;
    height: 8rem;
    opacity: 0.5; }
  37% {
    width: 12%;
    height: 8rem;
    opacity: 0.6; }
  50% {
    width: 15%;
    height: 8rem;
    opacity: 0.7; }
  63% {
    width: 20%;
    height: 8rem;
    opacity: 0.8; }
  75% {
    width: 27%;
    height: 8rem;
    opacity: 0.9; }
  88% {
    width: 30%;
    height: 8rem;
    opacity: 1; }
  100% {
    width: 32%;
    height: 8rem;
    opacity: 1; } }

@keyframes an1 {
  0% {
    transform: rotate(0); }
  5% {
    transform: rotate(3deg); }
  15% {
    transform: rotate(-2.5deg); }
  25% {
    transform: rotate(2deg); }
  35% {
    transform: rotate(-1.5deg); }
  45% {
    transform: rotate(1deg); }
  55% {
    transform: rotate(-1.5deg); }
  65% {
    transform: rotate(2deg); }
  75% {
    transform: rotate(-2deg); }
  85% {
    transform: rotate(2.5deg); }
  95% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0); } }

@media only screen and (max-width: 600px) {
  body {
    background-image: url("../media/portada.jpeg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center; }
    body .titulo_secundario {
      font-size: 2rem; }
    body p {
      font-size: 1rem; }
    body .fotoUltimasNoticias {
      width: 23rem; }
    body .fotoNoticiaDeLaSemana {
      width: 17rem; }
    body .videoCentral {
      width: 20rem; }
    body .videoSecundario {
      width: 10rem; }
    body .titulo_de_pagina {
      font-size: 3rem; }
    body .carousel-caption {
      font-size: 1rem; }
    body .card-title {
      font-size: 1rem; }
    body .tit {
      font-size: 1.5rem; }
    body h1 {
      font-size: 2rem; }
    body h3 {
      font-size: 1rem; }
    body h5 {
      font-size: 1rem; }
    body p {
      font-size: 0.8rem; }
    body .titulo_principal {
      text-align: start; }
    body .titulo_de_pagina {
      padding-top: 6rem;
      padding-bottom: 6rem; }
    body .navbar {
      margin-bottom: 2px; }
    body .navbar-brand {
      display: inline-block;
      width: 50rem; }
    body .varios {
      padding: 2rem;
      margin: 0.1rem; }
    body .fotoNoticiaDeLaSemana {
      margin-top: 3rem;
      margin-bottom: 2rem; }
    body .publicidad {
      margin-top: 2rem;
      margin-bottom: 2rem; }
    body .imagenPublicidad {
      padding-top: 2rem;
      padding-bottom: 2rem; }
    body .video-responsive {
      margin-top: 1rem; } }

.btnstyle {
  --color: #cbcf0e;
  font-family: inherit;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color); }
  .btnstyle:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all .7s; }
  .btnstyle:hover {
    color: #fff; }
    .btnstyle:hover:before {
      top: -30px;
      left: -30px; }
  .btnstyle:active:before {
    background: #3a0ca3;
    transition: background 0s; }

.error404 {
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather Sans', sans-serif; }
  .error404 #errorText {
    font-size: 22px;
    margin: 14px 0; }
  .error404 #errorLink {
    font-size: 20px;
    padding: 12px;
    border: 1px solid;
    color: #000;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.5s ease-in-out; }
    .error404 #errorLink:hover, .error404 #errorLink:active {
      color: #fff;
      background: #000; }
  .error404 #g6219 {
    transform-origin: 85px 4px;
    animation: an1 12s .5s infinite ease-out; }

.bg-dark1 {
  background: rgba(63, 60, 60, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.bg-dark2 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: yellow;
  text-shadow: #5a5a5a;
  font-size: 5rem;
  margin-top: 20rem;
  margin-bottom: 2rem;
  padding: 50px;
  font-size: 5em;
  font-weight: bold;
  margin-top: 15rem;
  margin-bottom: 10rem;
  text-align: center; }

.copete {
  color: red; }
