$fondoescritorio:"/fotos_y_videos/background8.png";
$color-celular:#5a5a5a;
$color-seccion:#353333;
$titulo-color: #f5f5dc;
$titulo-typo: 'Open Sans', sans-serif;
$parrafo-color:  #ffffff;
$parrafo-typo: 'Poppins', sans-serif;

$bgbody: black;
$bgcolor2:#5a5a5a;
$bgcolor1:#353333;
$titulo-color: #f5f5dc;
$titulo-typo: 'Open Sans', sans-serif;
$parrafo-color:  #ffffff;
$parrafo-typo: 'Poppins', sans-serif;

@mixin section($bgcolorsection) {
    background-color: $bgcolorsection;
    border: 5px;
    border-color: yellow;
    border-radius: 10px;
}

header{
    background-color: $bgcolor2;
    h1{
        text-align: center;
        color: whitesmoke;
        font-family:$titulo-typo;
    }
}
main{
    background-color: $bgbody;
}
.row{
    .ultimasNoticias{
        @include section ($bgcolor1);
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        .titulo_principal {
            text-align: center;
            color: beige;
            text-decoration: underline;
            font-family: 'Poppins', sans-serif;
            font-size: 3rem;
        }
}
.fotoUltimasNoticias {
    opacity: 0.8;
    border: 1px double goldenrod;
    transition: all 0.5s;
    &:hover {
        opacity: 1;
        border: 1px solid yellow;
        transform: scale(1.03);
        border-radius: 10px;
        }
}
.fotoNoticiaDeLaSemana {
    opacity: 0.8;
    border: 1px double goldenrod;
    transition: all 0.5s;
    &:hover {
        opacity: 1;
        border: 1px solid yellow;
        transform: scale(1.03);
        border-radius: 10px;
        }
}
}
.noticiasDeLaSemana{
        grid-area: noticiasDeLaSemana;
        @include section ($bgcolor1);
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        display: flex;
        flex-direction:column;
        overflow: scroll;
        .titulo_secundario {
            text-align: center;
            color: beige;
            text-decoration: underline;
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
        }
        .bg-text{
            background-color: rgba(0, 0, 0, 0.541);
        }
}
.noticiasVarias{
    grid-area: noticiasVarias;
    padding: 1rem;
    margin: 0.5rem;
    @include section ($bgcolor1);
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
    .videoSecundario {
        width: 15%;
        height: 10rem;
        opacity: 0.5;
        border: 1px double goldenrod;
        &:hover {
            opacity: 1;
            border: 1px solid yellow;
        }
    }
    .audio{
        width: 10%;
        order: -1;
    }
}
