$fondoescritorio:"/fotos_y_videos/background8.png";
$color-celular:#5a5a5a;
$color-seccion:#353333;
$titulo-color: #f5f5dc;
$titulo-typo: 'Open Sans', sans-serif;
$parrafo-color:  #ffffff;
$parrafo-typo: 'Poppins', sans-serif;

$bgbody: black;
$bgcolor2:#5a5a5a;
$bgcolor1:#353333;
$titulo-color: #f5f5dc;
$titulo-typo: 'Open Sans', sans-serif;
$parrafo-color:  #ffffff;
$parrafo-typo: 'Poppins', sans-serif;

@mixin section($bgcolorsection) {
    background-color: $bgcolorsection;
    border: 5px;
    border-color: yellow;
    border-radius: 10px;
}

body{
    background-image: url("../media/portada2.jpg");
    margin-right: 2rem;
    margin-left: 2rem;
}
body{
    animation-name: fondo;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes fondo {
    0%   {background-size: 100%;}
    15%   {background-size: 100.5%;}
    30%  {background-size: 101%;}
    45%   {background-size: 101.5%;}
    60%  {background-size: 102.5%;}
    75%  {background-size: 101.5%;}
    90%   {background-size: 101%;}
    95%   {background-size: 100.5%;}
    100% {background-size: 100%;}
  }


.titulo_de_pagina {
	padding-top: 15rem;
	padding-bottom: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    color: rgb(221, 221, 42);
	span {
		transition: 2s linear;
	}
	&:hover {
		span {
			&:nth-child(2) {
				margin-right: 10px;
				&:after {
					content: ", está en";
				}
			}
			&:nth-child(1) {
				display: none;
			}
			transition: 2s;
			color: rgb(221,221,42);
			text-shadow: 0 0 10px wheat, 0 0 15px wheat, 0 0 30px wheat;
			&:nth-child(3) {
				&:after {
					content: " Informa";
				}
			}
			&:nth-child(4) {
				display: none;
			}
		}
	}
}
.row{
    .ultimasNoticias{
        
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        .titulo_principal {
            text-align: center;
            color: beige;
            text-decoration: underline;
            font-family: 'Poppins', sans-serif;
            font-size: 3rem;
        }
}
.fotoUltimasNoticias {
    opacity: 0.8;
    border: 1px double goldenrod;
    transition: all 0.5s;
    &:hover {
        opacity: 1;
        border: 1px solid yellow;
        transform: scale(1.03);
        border-radius: 10px;
        }
}
.fotoNoticiaDeLaSemana {
    opacity: 0.8;
    border: 1px double goldenrod;
    transition: all 0.5s;
    &:hover {
        opacity: 1;
        border: 1px solid yellow;
        transform: scale(1.03);
        border-radius: 10px;
        }

    }


h5{
    font-family: $parrafo-typo;
    color: yellow;
    background-color: #353333a4;
}
.ps-x{
    margin-left: 24rem;

}
p{
    font-family: $parrafo-typo;
    color: yellow;
    background-color: #353333a4;
}
}

.noticiasDeLaSemana{
        grid-area: noticiasDeLaSemana;
        @include section ($bgcolor1);
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        display: flex;
        flex-direction:column;
        overflow: scroll;
        .titulo_secundario {
            text-align: center;
            color: beige;
            text-decoration: underline;
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
        }
        .bg-text{
            background-color: rgba(0, 0, 0, 0.541);
        }
}
.noticiasVarias{
    grid-area: noticiasVarias;
    padding: 1rem;
    margin: 0.5rem;
    @include section ($bgcolor1);
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
    .videoSecundario {
        width: 15%;
        height: 10rem;
        opacity: 0.5;
        border: 1px double goldenrod;
        &:hover {
            opacity: 1;
            border: 1px solid yellow;
        }
    }
    .audio{
        width: 10%;
        order: -1;
    }
}



tit{
    font-family: $parrafo-typo;
    color: rgb(128, 128, 12);
    font-size: 3rem;
} 
h3{
    font-family: $parrafo-typo;
    color: rgb(128, 128, 12);
    font-size: 2rem;
}  

#notastv .titulares {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 80px;
}
  

.pagination {
    margin-top: 30px;
    margin-bottom: 40px;
}
  
.pagination ul {
    text-align: center;
    width: 100%;
}
  
.pagination ul li {
    display: inline;
    margin: 0px 5px;
}
  
.pagination ul li a {
    width: 44px;
    height: 44px;
    border: 1px solid #2a2a2a;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
}
  
.pagination ul li a:hover,
.pagination ul li.active a {
    background-color: #2a2a2a;
    color: #fff;
}
.video-responsive {
    overflow:hidden;
    padding-bottom:200px;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: yellow;
    text-shadow: #5a5a5a;
    font-size: 5rem;
    margin-top: 20rem;
    margin-bottom: 2rem;
}

  