@media only screen and (max-width: 600px) {
    body{
        background-image: url("../media/portada.jpeg");
        background-size: cover;
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center center;
        .titulo_secundario{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
        .fotoUltimasNoticias{
            width: 23rem;
        }
        .fotoNoticiaDeLaSemana{
            width: 17rem;
        }
        .videoCentral{
            width: 20rem;
        }
        .videoSecundario{
            width: 10rem;
        }
        .titulo_de_pagina{
            font-size: 3rem;
        }
        .carousel-caption{
            font-size: 1rem;
        }
        .card-title{
            font-size: 1rem;
        }
        .tit{
            font-size: 1.5rem;
        }
        h1{
            font-size: 2rem;
        }
        h3{
        font-size: 1rem;
        }
        h5{
            font-size: 1rem;
        }
        p{
            font-size: 0.8rem;
        }
        .titulo_principal{
        text-align:start;
        }
        .titulo_de_pagina {
        padding-top: 6rem;
	    padding-bottom: 6rem;
        }
        .navbar {
        margin-bottom: 2px;
        }
        .navbar-brand {
        display: inline-block;
        width: 50rem;
        }
        .varios{
            padding: 2rem;
            margin: 0.1rem;
        }
        .fotoNoticiaDeLaSemana{
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        .publicidad{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .imagenPublicidad{
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .video-responsive{
            margin-top: 1rem;
        }
    }
}
