@media only screen and (max-width: 600px) {
    .grid{
        background-color: dimgray;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .quienesSomos{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "nosotros"
        "footer";
        align-content: space-around;
    }
    .fuerzasVivas{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "instituciones"
        "footer";
        align-content: space-around;
    }
    .noticiasPoliciales{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "policiales"
        "footer";
        align-content: space-around;
    }
    .noticiasNecrologicas{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "necrologicas"
        "footer";
        align-content: space-around;
    }
    .noticiasMutual{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "mutual"
        "footer";
        align-content: space-around;
    }
    .vecinoMirate{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "mirate"
        "footer";
        align-content: space-around;
    }
    .noticiasCooperativa{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "cooperativa"
        "footer";
        align-content: space-around;
    }
    .loguin{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "loguearse"
        "footer";
        align-content: space-around;
    }
    .iniciarSesion{
        background-color: grey;
        background-image: url(./Fotos_y_videos/background8.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        margin: 10px auto;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr  0.2fr;
        gap: 5px;
        grid-template-areas:
        "header"
        "sesion"
        "footer";
        align-content: space-around;
    }
    .titulo_principal{
        font-size: 3rem;
    }
    .titulo_secundario{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
    }
    .fotoUltimasNoticias{
        width: 23rem;
    }
    .fotoNoticiaDeLaSemana{
        width: 17rem;
    }
    .videoCentral{
        width: 20rem;
    }
    .videoSecundario{
        width: 10rem;
    }
    .logoPrincipal{
        width: 40%;
    }
}
