$bgbody: black;
$bgcolor2:#5a5a5a;
$bgcolor1:#353333;
$titulo-color: #f5f5dc;
$titulo-typo: 'Open Sans', sans-serif;
$parrafo-color:  #ffffff;
$parrafo-typo: 'Poppins', sans-serif;

@mixin section($bgcolorsection) {
    background-color: $bgcolorsection;
    border: 2px;
    border-color: yellow;
    border-radius: 10px;
}

.publicidadPrincipal {
    grid-area: publicidadPrincipal;
    padding: 1rem;
    margin: 0.5rem;
    @include section ($bgcolor2);
    border: black double 5px;
    border-top: 5px black double;
    border-bottom: 5px black double;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .imagenPublicidadPrincipal{
        width: 90%;
        height: 13rem;
        animation-name: animation;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-delay: 10s;
    }
}
.publicidadSecundaria{
    grid-area: publicidadPrincipal;
    padding: 1rem;
    margin: 0.5rem;
    @include section ($bgcolor2);
    border: black double 5px;
    border-top: 5px black double;
    border-bottom: 5px black double;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .imagenPublicidadSecundaria{
        width: 32%;
        height: 8rem;
        animation-name: animatio2;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-delay: 10s;
}

}