
.noticiasPoliciales{
    background-image: url("/Fotos_y_videos/background8.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
    margin: 10px auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr  0.5fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
    "header"
    "policiales"
    "footer";
    align-content: space-around;  
}
.policiales{
    grid-area: policiales;
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgb(53, 51, 51);
    border: black double 5px;
    text-align:justify;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
}