*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "navbar";
@import "index";
@import "publicidades";
@import "footer";
@import "keyframes";
@import "mediaOnly";
@import "sectionNecrologicas";
@import "sectionLog_in";
@import "sectionPoliciales";
@import "404";


.bg-dark1{
    background: rgba( 63, 60, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.bg-dark2{
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: yellow;
    text-shadow: #5a5a5a;
    font-size: 5rem;
    margin-top: 20rem;
    margin-bottom: 2rem;
    padding: 50px;
    font-size: 5em;
    font-weight: bold;
    margin-top: 15rem;
    margin-bottom: 10rem;
    text-align: center;
}
.copete{
    color: red;
}

